<header>
  <h1>Byosha</h1>
  <div class="header-list">
      <ul>
        
        <li><%= link_to "写真投稿へ", new_photo_path %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
   </div>
</header>

  <div class="container">
      <% @photos.each do |p| %>
        
        
          <div class="photo">
            
            <%= link_to photo_path(p.id) do %><%= image_tag p.image_url, size: "250x200" if p.image? %><% end %>
          </div>
      <% end %>
  </div>

