.setumei{

    margin-top: 50px;
    text-align: center;


}





.mail{

    margin: 50px;


}



.field1{

    text-align: center;


}

.field2{

    text-align: center;

}

.field3{

    text-align: center;

}

.field4{

    text-align: center;

}

.field5{

    text-align: center;

}

.field6{

    text-align: center;

}

.field7{

    text-align: center;

}

.field8{

    text-align: center;

}

.field9{

    margin-top: 10px;
    text-align: center;
    

}

.field10{

    text-align: center;

}

.field11{

    text-align: center;

}

.actions1{

    text-align: center;


}

.actions2{

    text-align: center;


}

.actions3{

    text-align: center;


}

.actions4{

    text-align: center;


}

.link1{

    text-align: center;

}